.movie_container {
  width: 25vw;
  height: 80vh;
  position: relative;
  overflow: hidden;
  transition: 2s;
}
.movie_container img:hover {
  transform: scale(1.05);
  filter: grayscale(80%);
}
.movie_description {
  width: 100%;
  position: absolute;
  padding: 0px 20px 50px 20px;
  bottom: 0;
  color: white;
  box-shadow: 0px -75px 56px 23px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0px -75px 56px 23px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px -75px 56px 23px rgba(0, 0, 0, 0.5) inset;
}
.movie_date {
  color: var(--main-blue);
  word-spacing: 5px;
}
.movie_name {
  font-size: 30px;
  letter-spacing: 3px;
}
.dashes {
  display: flex;
  margin-bottom: 17px;
}
.movie_button {
  font-size: 13px;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  border: 2px solid white;
  padding: 10px;
  transition: 0.5s;
}
.movie_button:hover {
  border: 2px solid var(--main-blue);
  color: var(--main-blue);
}
.movie_container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 1s;
}
